#amigo-secreto-form .user_image,
#amigo-secreto-form .machine_image{
	width: 83px;
	height: 85px;
	position: absolute;
}
#amigo-secreto-form .machine_image{
	background: url('../images/machine-image.png') center no-repeat;
	right: 12px;
}
#amigo-secreto-form .machine_image img{
	display: none;
}
#amigo-secreto-form .machine_image.p-fake-image img{
	display: block;
}
.p-game-controls{
	height: 118px;
	position: relative;
}
#amigo-secreto-form .user_image{
	left: 12px;
	/*Comentado por nueva funcionalidad*/
	/*background: url('../images/machine-image.png') center no-repeat;*/
}
.p_action_wrapper input[type="submit"],
.user_timer{
	background: url('../images/btn-controls-amigo.png') center no-repeat;
	width: 111px;
	height: 26px;
	border: none;
	display: block;
	padding-bottom: 0px;
}
.user_timer{
	position: absolute;
	top: 60px;
	left: 106px;
	color: #ffffff;
	font-weight: bold;
	height: 22px;
	padding-top: 4px;
}
.user_timer span{
	font-weight: bold;
}
.p_action_wrapper #edit-empezar{
	position: absolute;
	right: 103px;
	top: 33px;
}
.p_action_wrapper{
	width: 111px;
	margin-left: 105px;
	padding-top: 8px;
}
.user_questions ul li,
.user_resolve ul li{
	font-size: 14px;
	width: 172px;
	display: inline-block;
	*display: inline;
	z-index: 2;
	color: #ffffff;
	cursor: pointer;
	vertical-align: middle;
	line-height: 0px;
}
.user_questions,
.user_resolve{
	width: 345px;
	position: absolute;
	left: 120px;
	top: 6px;
	text-align: left;
	z-index: 4;
}
.user_questions ul,
.user_resolve ul{
	margin: 0px;
	padding: 0px;
}
.user_resolve ul li{
	width: 80px;
}
.user_resolve ul li a{
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
.system_answer{
	position: absolute;
	left: 126px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	top: 10px;
	width: 340px;
	border-bottom: 2px #ffffff solid;
	border-top: 2px #ffffff solid;
}
.system_answer span {
	display: block;
	font-size: 14px;
	width: 220px;
	margin: 0 auto;
	padding: 4px 0;
	font-weight: bold;
}
.user_answer,
.machine_answer{
	position: absolute;
	top: 10px;
	color: #ffffff;
	font-size: 14px;
	background: url('../images/user-answer.png') center no-repeat;
	width: 192px;
	height: 35px;
	padding-top: 10px;
}
.user_answer span{
	display: block;
	padding-top: 4px;
}
.machine_answer span {
	display: block;
	padding-top: 4px;
	padding-right: 12px;
	text-transform: uppercase;
}
.user_answer{
	left: 115px;
}
.machine_answer{
	background: url('../images/machine-answer.png') center no-repeat;
	right: 110px;
	width: 70px;
	top: 45px;
}
.p-noshow-radio{
	display: none;
}
.p-footer-friend p{
	margin: 0px;
}
.p-profile-title{
	background: url('../images/perfil-header-informacion.png') center bottom no-repeat;
	width: 534px;
	margin: 10px auto;
	color: white;
	padding-bottom: 18px;
	padding-top: 13px;
	font-size: 14px;
	margin-left: 30px;
	border-top: solid 2px #FFFFFF;
	line-height: 10px;
	margin-top: 0px;
}
.p-friend #header p{
	margin: 0px;
	padding: 0px;
}
.p-friend #header{
	height: 220px;
}
.p-grilla-title{
	margin: 0px;
	font-size: 14px;
	color: #FFFFFF;
	border-top: solid 1px white;
	width: 395px;
	margin: 0 auto;
}
.p-user-clic{
	text-decoration: line-through;
	color: #464646 !important;
}
/*Ultimos Ajustes*/
.p-profile-title.p-second{
	position: absolute;
	bottom: -44px;
	padding-bottom: 18px;
	padding-top: 10px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.p-friend #user-profile-form > div{
	margin-top: 54px;
}
.p-friend #block-amigo-secreto-amigo-secreto-perfil{
	position: relative;
}
.system_p_solution{
	display: none;
}
.p-friend .messages.status{
	display: none;
}
.p-friend h1#page-title{
	margin: 0px;
}
body.admin-menu .p-friend .messages.status{
	display: block;
}
