.p-friend #header,
.p-friend #p-content,
.p-friend #block-quicktabs-quicktab-amigo-secreto{
  width: 618px;
  margin: 0 auto;
}
.view-id-grilla_general_amigo_secreto,
.p-friend #p-content .region .p-block-grid-secret-friend{
	width: 584px;
	padding: 0px;
	margin: 0 auto;
}
.view-id-grilla_general_amigo_secreto .views-row{
	display: inline-block;
	*display: inline;
	z-index: 2;
	padding: 4px 6px !important;
	width: 83px;
	position: relative;
	height: 85px;
	cursor: pointer;
}
.view-id-grilla_general_amigo_secreto .views-row .views-field-field-user-firstname,
.view-id-grilla_general_amigo_secreto .views-row .views-field-field-user-lastname{
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background: url('../images/name-shadow-bg.png') center;
	width: 83px;
	display: block;
	position: absolute;
	bottom: 4px;
}
.view-id-grilla_general_amigo_secreto .views-row .views-field-picture{
	max-height: 85px;
}
.view-id-grilla_general_amigo_secreto .views-row .views-field-field-user-firstname span,
.view-id-grilla_general_amigo_secreto .views-row .views-field-field-user-lastname span{
	display: block;
}
.p-friend #block-quicktabs-quicktab-amigo-secreto{
	padding: 0px;
}
.p-friend  .view-id-grilla_general_amigo_secreto{
	text-align: center;
}
.p-friend  .p-block-grid-secret-friend .view-id-grilla_general_amigo_secreto .view-content{
	margin: 0;
}
.p-friend .view-id-grilla_general_amigo_secreto .views-row .views-field-nothing{
	width: 83px;
	height: 85px;
	background: url('../images/p-overlay.png') center no-repeat;
	display: none;
	position: absolute;
	top: 4px;
}
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-no-adivino .views-field-nothing{
	width: 83px;
	height: 85px;
	background: url('../images/no-adivino.png') center no-repeat;
	display: none;
	position: absolute;
	top: 4px;
}
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-adivino .views-field-nothing{
	width: 83px;
	height: 85px;
	background: url('../images/si-adivino.png') center no-repeat;
	display: none;
	position: absolute;
	top: 4px;
}
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-overlay-active .views-field-nothing,
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-descartado .views-field-nothing, 
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-no-adivino .views-field-nothing, 
.p-friend .view-id-grilla_general_amigo_secreto .views-row.p-adivino .views-field-nothing{
	display: block;
}
/*Ocultamos el apellido*/
.view-id-grilla_general_amigo_secreto .views-row .views-field-field-user-lastname{
	display: none;
}

ul.quicktabs-tabs.quicktabs-style-basic{
	height:30px !important;
	border:none !important;
	margin:0 !important;
	padding:0 !important;
}

ul.quicktabs-tabs.quicktabs-style-basic li{

	float:left;
	margin:0 !important;
	padding:0px !important;
	border:none !important;
	border-right:2px solid #fff !important;
}


ul.quicktabs-tabs.quicktabs-style-basic li.last{
	border:none;
}

ul.quicktabs-tabs.quicktabs-style-basic li.active a{
	background:#00aeef;
	color:#fff !important;
}

ul.quicktabs-tabs.quicktabs-style-basic li a{
	width:204px;
	margin:0;
	padding:0;
	display:block;
	height:25px !important;
	text-align:center;
	background:url(../images/items-menu.jpg) repeat-x;
	color:#fff;
	font-size:14px;
	padding-top:5px;
}

ul.quicktabs-tabs.quicktabs-style-basic li a:hover{
	color:#fff;
	background:#00aeef;
}

.quicktabs_main.quicktabs-style-basic{
	border:none !important;
	padding:0;
	background:url(../images/fondo-tab.png) no-repeat;
	width:596px;
}

#p-content .region .block{
	margin:0 !important;
}



.quicktabs_main.quicktabs-style-basic .content{
	text-align:center;

}
#quicktabs-tabpage-quicktab_amigo_secreto-0 h2{
	padding:0;
	margin:0;
	margin-bottom: 40px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}

.quicktabs_main.quicktabs-style-basic .content .s-instrucciones-mecanica {
	text-align: justify;
	margin-right: 21px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element{
	font-size: 14px;
	margin-bottom: 21px;
	padding-left: 20px;
	padding-left: 35px;
	padding-right: 10px;
	margin-left: 15px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.one {
	background: url(../images/li-one.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.two {
	background: url(../images/li-two.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.three {
	background: url(../images/li-three.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.four {
	background: url(../images/li-four.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.five {
	background: url(../images/li-five.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0 .s-instrucciones-mecanica .order-element.six {
	background: url(../images/li-six.png) left center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-0{
	padding:0 17px;
	padding-top:35px;
	color:#fff;
	font-size:15px;
}

#top{
	background:none !important;
	padding:0 !important;
}

.t-global{
	padding:0 !important;
}

ul.primary{
	margin:0 !important;
	padding:0 !important;
}

.p-user-friend-id{
	display:none;
}

.ingresar_tabs{
	width:100px;
	height:29px;
	background:url(../images/ingresar.png) no-repeat;
	text-align:center;
	color:#fff;
	text-decoration:none;
	display:block;
	margin:0 auto;
	line-height:30px;
	margin-top:27px;
}

.ingresar_tabs:hover{
	text-decoration:none;
}

#block-amigo-secreto-amigo-secreto-perfil fieldset{
	/*margin:0;*/
	padding:0;
	border:none;
	margin-left: 105px;
	float:left;
}

#block-amigo-secreto-amigo-secreto-perfil .fieldset-wrapper{
	width:170px;
	overflow:hidden;
	height:109px;
}

#edit-field-user-firstname{
	float:left;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 .content{
	width:575px;
	margin:0 auto;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 #edit-field-user-firstname,
#quicktabs-tabpage-quicktab_amigo_secreto-1 #edit-field-user-lastname,
#profile-main-field-telefono-amigo-profile-add-more-wrapper,
#profile-main-field-extension-amigo-profile-add-more-wrapper,
#quicktabs-tabpage-quicktab_amigo_secreto-1 .field-name-field-area-amigo-profile{
	float: left;
	width:195px;
	margin-right:7px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 label{
	float:left;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	width:70px;
	text-align:right;
	margin-right:5px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 .text-full{
	width:114px;
	border-radius:0px;
	background:#fff;
	height:14px;
	border:none;
	font-size:11px;
	color:#666;
	padding:0px;
	padding:3px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 #profile-main-field-oficina-amigo-profile-add-more-wrapper .text-full{
	width:317px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item{
	margin:5px 0;
}

#profile-main-field-oficina-amigo-profile-add-more-wrapper{
	float:left;
	width:398px;
	margin-right:7px;
}



 /*Game style*/
.user_questions, .user_resolve, .user_timer, #amigo-secreto-form #edit-empezar.p-no-show, .machine_answer, .user_answer, .system_next_question, .system_adivina, .system_answer {

 display: none;
}
.user_timer.p-active-time,
.user_questions.p-active,
.user_resolve.p-active,
.machine_answer.p-active,
.user_answer.p-active,
.system_next_question.p-active,
.system_adivina.p-active,
.system_answer.p-active{
	display: block;
}
.form-item-picture-delete, .form-item-files-picture-upload .description, .form-item-files-picture-upload label, #edit-picture .fieldset-legend{
	display:none;
}

#user-profile-form{
	position:relative;
}

.user-picture img{
	width:85px !important;
}

label.option{
	float:left !important;
	width:auto !important;
		color:#f3de00 !important;
}

input.form-radio{
	vertical-align:top;
	margin:0;
	padding:0;
	float: left;
}

#edit-profile-main-field-eres-hombre-profile{
	position:absolute;
	left:35px;
	top:120px;
}

#edit-profile-main-field-eres-hombre-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-eres-hombre-profile-und{
	float:left;
}

.form-item-profile-main-field-eres-hombre-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-eres-hombre-profile-und .form-item{
	margin:0 !important;
}




#edit-profile-main-field-tienes-pelo-profile{
	position:absolute;
	left:35px;
	top:145px;
}

#edit-profile-main-field-tienes-pelo-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-tienes-pelo-profile-und{
	float:left;
}

.form-item-profile-main-field-tienes-pelo-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-tienes-pelo-profile-und .form-item{
	margin:0 !important;
}


#edit-profile-main-field-pelo-oscuro{
	position:absolute;
	left:10px;
	top:170px;
}

#edit-profile-main-field-pelo-oscuro label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-pelo-oscuro-und{
	float:left;
}

.form-item-profile-main-field-pelo-oscuro-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-pelo-oscuro-und .form-item{
	margin:0 !important;
}


#edit-profile-main-field-barba-profile{
	position:absolute;
	left: 302px;
	top: 145px;
}

#edit-profile-main-field-barba-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-barba-profile-und{
	float:left;
}

.form-item-profile-main-field-barba-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-barba-profile-und .form-item{
	margin:0 !important;
}



#edit-profile-main-field-pelo-crespo-profile{
	position:absolute;
	left:332px;
	top:195px;
}

#edit-profile-main-field-pelo-crespo-profile label{
	width:170px;
	float:left;
	text-align:left;

}


#edit-profile-main-field-pelo-crespo-profile-und{
	float:left;
}

.form-item-profile-main-field-pelo-crespo-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-pelo-crespo-profile-und .form-item{
	margin:0 !important;
}


#edit-profile-main-field-pelo-largo-profile{
	position:absolute;
	left:302px;
	top:120px;
}

#edit-profile-main-field-pelo-largo-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-pelo-largo-profile-und{
	float:left;
}

.form-item-profile-main-field-pelo-largo-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-pelo-largo-profile-und .form-item{
	margin:0 !important;
}


#edit-profile-main-field-gafas-profile{
	position:absolute;
	left:35px;
	top:199px;
}

#edit-profile-main-field-gafas-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-gafas-profile-und{
	float:left;
}

.form-item-profile-main-field-gafas-profile-und{
	float:left;
	margin: 0 !important;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-gafas-profile-und .form-item{
	margin:0 !important;
}


#edit-profile-main-field-sonrisa-profile{
	position:absolute;
	left:332px;
	top:145px;
}

#edit-profile-main-field-sonrisa-profile label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-sonrisa-profile-und{
	float:left;
}

.form-item-profile-main-field-sonrisa-profile-und{
	float:left;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-sonrisa-profile-und .form-item{
	margin:0 !important;
}



#edit-profile-main-field-pelo-oscuro{
	position:absolute;
	left: 35px;
	top: 145px;
}

#edit-profile-main-field-pelo-oscuro label{
	width:170px;
	float:left;
	text-align:left;

}

#edit-profile-main-field-pelo-oscuro-und{
	float:left;
}

.form-item-profile-main-field-pelo-oscuro-und{
	float:left;
}

#edit-profile-main-field-piel-clara-profile {
	position: absolute;
	top: 175px;
	left: 35px;
}

#edit-profile-main-field-piel-clara-profile label {
	width: 170px;
	float: left;
	text-align: left;
}

#edit-profile-main-field-piel-clara-profile-und {
	float: left;
}

.form-item-profile-main-field-piel-clara-profile-und {
	float: left;
	margin: 0 !important;
}

#edit-profile-main-field-ojos-claros-profile {
	position: absolute;
	top: 175px;
	left: 302px;
}

#edit-profile-main-field-ojos-claros-profile label {
	width: 170px;
	float: left;
	text-align: left;
}

#edit-profile-main-field-ojos-claros-profile-und {
	float: left;
}

.form-item-profile-main-field-ojos-claros-profile-und {
	float: left;
	margin: 0 !important;
}

#edit-profile-main-field-mayor-treinta-profile {
	position: absolute;
	left: 302px;
	top: 199px;
}

#edit-profile-main-field-mayor-treinta-profile-und {
	float: left;
}

.form-item-profile-main-field-mayor-treinta-profile-und {
	float: left;
	margin: 0 !important;
}

#edit-profile-main-field-mayor-treinta-profile label {
	width: 170px;
	float: left;
	text-align: left;
}

#edit-profile-main-field-tiempo-libre-profile {
	position: absolute;
	top: 224px;
	left: 45px;
}

#edit-profile-main-field-proyeccion-futuro-profile {
	position: absolute;
	left: 45px;
	top: 249px;
}

#edit-profile-main-field-sueno-profile {
	position: absolute;
	left: 45px;
	top: 274px;
}

#edit-profile-main-field-sobre-ti-profile {
	position: absolute;
	left: 45px;
	top: 301px;
}

#edit-profile-main-field-sobre-ti-profile .form-item.form-type-textarea .form-textarea-wrapper{
	float: left;
}

#edit-profile-main-field-sobre-ti-profile .form-item.form-type-textarea .form-textarea-wrapper textarea {
	height: 51px;
	max-height: 51px;
	width: 262px;
	resize: none;
}

#edit-profile-main-field-tiempo-libre-profile label,
#edit-profile-main-field-proyeccion-futuro-profile label,
#edit-profile-main-field-sueno-profile label,
#edit-profile-main-field-sobre-ti-profile label {
	width: 208px;
	float: left;
	text-align: right;
	font-weight: lighter;
}

#edit-profile-main-field-tiempo-libre-profile input,
#edit-profile-main-field-proyeccion-futuro-profile input,
#edit-profile-main-field-sueno-profile input,
#edit-profile-main-field-sobre-ti-profile input {
	width: 256px !important;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 span.form-required {
	display: none;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-item-profile-main-field-pelo-oscuro-und .form-item{
	margin:0 !important;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1 #edit-ckeditor{
	display:none;
}


#quicktabs-tabpage-quicktab_amigo_secreto-1{
	height:500px;
	/*height: 335px;*/
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 input#edit-submit--2{
	width:100px;
	height:29px;
	background:url(../images/ingresar.png) no-repeat;
	text-align:center;
	color:#fff;
	text-decoration:none;
	display:block;
	line-height:30px;
	text-transform:uppercase;
	border:none;


}

#quicktabs-tabpage-quicktab_amigo_secreto-1 #edit-actions--2{
	position:absolute;
	top:360px;
	left:50%;
	margin-left:-50px;
}

#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-type-radio input.form-radio {
	background: url('../images/bg-radio.png') center no-repeat;
}
#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-type-textfield  label,
#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-type-radios label {
	font-weight: lighter;
}
#quicktabs-tabpage-quicktab_amigo_secreto-1 .form-type-radio label.option {
	font-size: 13px;
	padding-left: 5px;
}
#quicktabs-tabpage-quicktab_amigo_secreto-1 #edit-picture-upload {
	display: none;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2  .p-grilla-title {
	background: url('../images/perfil-header-informacion.png') center bottom no-repeat;
	position: absolute;
	top: 50px;
	width: 534px;
	margin: 0 auto;
	color: white;
	padding-bottom: 20px;
	padding-top: 14px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 30px;
	border-top: solid 2px #FFFFFF;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2  .p-grilla-title.long-text {
	padding-bottom: 15px;
	padding-top: 9px;
}
.p-game-controls {
	margin-top: 80px;
	margin-bottom: 23px;
}
.p_action_wrapper #edit-empezar {
	background: url('../images/btn-empezar.png') center no-repeat;
	width: 124px;
	height: 40px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px;
	right: 230px !important;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2 .user_image span {
	position: absolute;
	left: 0;
	top: 84px;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 0;
	width: 83px;
	color: #ffffff;
}

#quicktabs-tabpage-quicktab_amigo_secreto-2 .machine_image span {
	position: absolute;
	right: 0;
	top: 84px;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 0;
	width: 83px;
	color: #ffffff;
}

#quicktabs-tabpage-quicktab_amigo_secreto-2 .question-inactive {
	text-decoration: line-through;
	color: #fac42e !important;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2 .system_next_question {
	background: url('../images/next-question.png') center no-repeat;
	width: 129px;
	height: 63px;
	position: absolute;
	left: 228px;
	top: 15px;
	cursor: pointer;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2 .system_adivina {
	background: url('../images/system-adivina.png') center no-repeat;
	width: 129px;
	height: 63px;
	position: absolute;
	left: 152px;
	top: 15px;
	cursor: pointer;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2 .system_adivina span {
	display: block;
	padding-top: 20px;
	color: #ffffff;
	cursor: pointer;
}
#quicktabs-tabpage-quicktab_amigo_secreto-2 .system_next_question span {
	display: block;
	padding-top: 11px;
	color: #ffffff;
	cursor: pointer;
}
/* modal adivinar */
#colorbox {
	background: #ffffff !important;
}
#colorbox #cboxClose {
	display: none !important;
}
#colorbox #cboxLoadedContent {
	background: url('../images/p-colorbox-top-bg.png') top center no-repeat;
	width: 620px;
	height: 22px;
}
#colorbox #p-machine-solution {	
	width: 556px;
	margin: 0 auto;
	margin-top: 30px;
}
#colorbox #p-machine-solution .p-header-machine-solution{
	text-align: center;
}
#colorbox #p-machine-solution .p-header-machine-solution .p-status-ans{
	color: #00aeef;
	font-size: 20px;
	font-weight: bold;
}
#colorbox #p-machine-solution .p-header-machine-solution .p-rival-name {
	color: #ed1c24;
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
#colorbox #p-machine-solution h3 {
	color: #ed1c24;
	text-align: center;
	border-top: 2px #00aeef solid;
	border-bottom: 2px #00aeef solid;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0;
	text-transform: uppercase;
}

#colorbox #p-machine-solution .p-machine-solution .p-profile-solve-wrapper {
	width: 515px;
	margin: 0 auto;
}
#colorbox #p-machine-solution .p-profile-solve-wrapper {
	margin-top: 25px;
}
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-free-time span,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-imagina span,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-dream span,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-not-know span {
	color: #00aeef;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-free-time span.p-question-ans,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-imagina span.p-question-ans,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-dream span.p-question-ans,
#colorbox #p-machine-solution .p-profile-solve-wrapper .p-not-know span.p-question-ans {
	color: #6d6e70;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 18px;
	text-transform: uppercase;
}
#colorbox #p-machine-solution .p-new-game {
	background: url('../images/btn-nueva-partida.png') center no-repeat;
	width: 172px;
	height: 42px;
	margin: 0 auto;
	margin-top: 30px;
}
#colorbox #p-machine-solution .p-new-game a {
	display: block;
	padding: 10px 11px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}